
<div class="card">
  <div class="host_image">
    <img class="twitter_icon" src="../../assets/image/zuckey.jpg"/>
  </div>
  <div class="host_description">
    <h1>zuckey</h1>
    <p><i class="fa fa-building" aria-hidden="true"></i> Software Developer @ Yappli. inc,</p>
    <p><i class="fa fa-twitter" aria-hidden="true"></i> Twitter: <a href="https://twitter.com/zuckey_17?lang=ja">@zuckey_17</a><p>
    <p><i class="fa fa-pencil-square" aria-hidden="true"></i> Blog: <a href="http://blog.zuckey17.org/">zuckey_17’s blog</a></p>
    <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Skills</p>
    <ul class="tag_cloud">
      <li><span>React + redux</span></li>
      <li><span>ES2015</span></li>
      <li><span>PHP</span></li>
      <li><span>Laravel</span></li>
      <li><span>Angular</span></li>
      <li><span>Android</span></li>
      <li><span>AWS</span></li>
      <li><span>MySQL</span></li>
    </ul>
    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Interest</p>
    <ul class="tag_cloud">
      <li><span>Animation</span></li>
      <li><span>Radio</span></li>
      <li><span>Podcast</span></li>
      <li><span>Voice Actor</span></li>
      <li><span>2Bro(Youtuber)</span></li>
    </ul>
  </div>
</div>
<div class="card">
  <div class="host_image">
    <img class="twitter_icon" src="../../assets/image/gami.jpg"/>
  </div>
  <div class="host_description">
    <h1>gami</h1>
    <p><i class="fa fa-twitter" aria-hidden="true"></i> Twitter: <a href="https://twitter.com/jumpei_ikegami?lang=ja">@jumpei_ikegami</a><p>
    <p>coming soon!!</p>
  </div>
</div>