
<div class="card">
  <div class="host_image">
    <img class="twitter_icon" src="../../assets/image/host/zuckey.jpg"/>
  </div>
  <div class="description">
    <h1>zuckey</h1>
    <p class="description_item"><i class="fa fa-building" aria-hidden="true"></i>
      Software Developer @
      <a class="link" href="https://yapp.li/">Yappli. inc,</a>
    </p>
    <p class="description_item"><i class="fa fa-book" aria-hidden="true"></i>
      Graduated from:
      Kyoto University
    </p>
    <p class="description_item"><i class="fa fa-twitter" aria-hidden="true"></i>
      Twitter:
      <a class="link" href="https://twitter.com/zuckey_17">@zuckey_17</a>
    <p>
    <p class="description_item"><i class="fa fa-pencil-square" aria-hidden="true"></i>
      Blog:
      <a class="link" href="http://blog.zuckey17.org/">zuckey_17’s blog</a>
    </p>
    <p class="description_item"><i class="fa fa-id-card-o" aria-hidden="true"></i>
      Skills
    </p>
    <ul class="tag_cloud">
      <li><span>React + redux</span></li>
      <li><span>ES2015</span></li>
      <li><span>PHP</span></li>
      <li><span>Laravel</span></li>
      <li><span>Angular</span></li>
      <li><span>React Native</span></li>
      <li><span>Android</span></li>
      <li><span>AWS</span></li>
      <li><span>MySQL</span></li>
    </ul>
    <p class="description_item">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Interest
    </p>
    <ul class="tag_cloud">
      <li><span>Animation</span></li>
      <li><span>Radio</span></li>
      <li><span>Podcast</span></li>
      <li><span>Voice Actor</span></li>
      <li><span>2Bro(Youtuber)</span></li>
    </ul>
  </div>
</div>
<div class="card">
  <div class="host_image">
    <img class="twitter_icon" src="../../assets/image/host/gami.jpg"/>
  </div>
  <div class="description">
    <h1>gami</h1>
    <p class="description_item"><i class="fa fa-building" aria-hidden="true"></i>
      Software Developer @
      <a class="link" href="https://plaid.co.jp/">PLAID. inc,</a>
    </p>
    <p class="description_item"><i class="fa fa-book" aria-hidden="true"></i>
      Graduated from:
      The University of Tokyo
    </p>
    <p class="description_item"><i class="fa fa-twitter" aria-hidden="true"></i>
      Twitter:
      <a class="link" href="https://twitter.com/jumpei_ikegami">@jumpei_ikegami</a>
    <p>
    <p class="description_item"><i class="fa fa-pencil-square" aria-hidden="true"></i>
      Blog:
      <a class="link" href="http://qiita.com/jumtech">jumtech - Qiita</a>
    </p>
    <p class="description_item"><i class="fa fa-id-card-o" aria-hidden="true"></i>
      Skills
    </p>
    <ul class="tag_cloud">
      <li><span>ES2015</span></li>
      <li><span>Vue.js</span></li>
      <li><span>Node.js</span></li>
      <li><span>Express</span></li>
      <li><span>Angular</span></li>
      <li><span>React Native</span></li>
      <li><span>Java</span></li>
      <li><span>COBOL</span></li>
    </ul>
    <p class="description_item">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Interest
    </p>
    <ul class="tag_cloud">
      <li><span>Philosophy</span></li>
      <li><span>Sociology</span></li>
      <li><span>Podcast</span></li>
    </ul>
  </div>
</div>