.header {
  width: 100%;
  height: 250px;
  background-image: url("../../assets/image/header_background.png");
  background-size: cover;
}

#header_title {
  margin: auto;
  width: 80%;
  height: 80%;
  background-image: url("../../assets/image/header_title.png");
  background-size: 100%;
  background-repeat: no-repeat;
}