.header {
  width: 100%;
  height: 33vw; /* viewportの幅の1/3 */
  max-height: 200px; /* width=600px以上は変化させない */
  background-image: url("../../assets/image/header_background.png");
  background-size: cover;
  /* 上下左右の中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo {
  padding: 5%;
  max-width: 600px; /* width=600px以上は変化させない */
}
.header_logo img {
  width: 100%;
  cursor: pointer;
}