.header {
  width: calc(100% + 6px); /* svgだと左右に数pxの余白が出るやつ対策 */
  height: 33vw; /* viewportの幅の1/3 */
  max-height: 200px; /* width=600px以上は変化させない */
  background-image: url("../../assets/image/header_background.svg");
  background-position: -3px 0; /* svgだと左右に数pxの余白が出るやつ対策 */
  background-size: cover;
  /* 上下左右の中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo {
  padding: 5%;
  max-width: 600px; /* width=600px以上は変化させない */
}
.header_logo img {
  width: 100%;
  cursor: pointer;
}