<div id="footer" class="footer">
  <div class="footer_container">
  <div class="each">
    <h1 class="title">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      フィードバック
      </h1>
    <p class="description">
      しがないラジオでは、フィードバックをTwitterで募集しています。
    </p>
    <p class="description">
      ハッシュタグ
      <a class="link" href="https://twitter.com/search?q=%23%E3%81%97%E3%81%8C%E3%81%AA%E3%81%84%E3%83%A9%E3%82%B8%E3%82%AA">
        #しがないラジオ
      </a>
      まで、「感想」、「話して欲しい話題」、「改善して欲しいこと」など、お寄せください。
    </p>
    <div class="follow">
      <a href="https://twitter.com/shiganaiRadio" class="twitter-follow-button" data-show-count="false">Follow @shiganaiRadio</a>
    </div>
  </div>
  <div class="each">
    <h1 class="title">
      <i class="fa fa-rss" aria-hidden="true"></i>
      RSSフィード
    </h1>
    <p class="description">RSSの購読は、こちらからお願いします。</p>
      <ul class="description_list">
        <li class="description_item">
          <a class="link" href="http://feeds.soundcloud.com/users/soundcloud:users:294673416/sounds.rss">
            RSSフィード購読
          </a>
        </li>
      </ul>
  </div>
  <div class="each">
    <h1 class="title">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
      サイトマップ
    </h1>
    <ul class="description_list">
      <li class="description_item" (click)="this.goto('/')">ホーム</li>
      <li class="description_item" (click)="this.goto('/host')">パーソナリティ</li>
      <li class="description_item" (click)="this.goto('/guest')">ゲスト</li>
    </ul>
  </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2017 by <a href="https://twitter.com/zuckey_17?lang=ja">zuckey</a>, <a href="https://twitter.com/jumpei_ikegami?lang=ja">gami</a> in Tokyo, Japan.</p>
  </div>
</div>
