<ul class="list">
  <li>
    <p *ngIf="this.loading" class="loading">
      LOADING... Please Wait.
    </p>
  </li>
  <li class="list_item" *ngFor="let episode of episodes; let i = index;">
    <a href="{{'/ep/' + episode['id']}}">
      <div (click)="gotoDetail(episode)" class="ep_summary">
        <span class="ep_pub_date">
          {{ episode.pubDate.toDateString() }}
        </span>
        <p class="ep_summary_title">
          {{ episode.title }}
        </p>
        <div class="ep_summary_content">
          {{ episode.summary.substr(0,150)+'...' }}
        </div>
      </div>
    </a>
  </li>
  <li class="pagination">
    <a>
      <span
        class="page"
        *ngIf="(currentPageNum !== 0)"
        (click)="getEpisodes(currentPageNum - 1)"
      >
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </span>
      <span
        class="{{ (i === currentPageNum) ? 'selectedPage' : 'page' }}"
        *ngFor="let page of pages;let i = index;"
        (click)="(i === currentPageNum) ? null : getEpisodes(i)"
      >
        {{ i + 1 }}
      </span>
      <span
        class="page"
        *ngIf="(currentPageNum !== pages.length - 1)"
        (click)="getEpisodes(currentPageNum + 1)"
      >
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </a>
  </li>
</ul>