.loading {
    font-size: 3em;
    text-align: center;
    margin: 3em 0 3em 0;
    color: #283044;
}
.list_item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.play {
    margin: 0 5px auto 0;
}
.sc_link {
    font-size: .40rem;
    color: #283044;
}
.sc_link:hover {
    color: #F15025;
}
@media screen and (min-width: 880px) {
    .sc_link {
        font-size: .60rem;
    }
}
.ep_summary {
    flex: 1;
    margin: 10px 0 10px 0;
    background-color: #FAF3DD;
    color: #283044;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: pointer;
}
.ep_summary:hover {
    background-color: #CAC1A3;
}
.ep_summary_title {
    font-size: .24rem;
    margin: 15px 15px 15px 15px;
    border-bottom: medium solid #bbbbbb;
}
.ep_summary_content {
    margin: 15px 15px 15px 15px;
    font-size: .12rem;
}
.ep_pub_date {
    font-size: .09rem;
    background-color: #283044;
    color: #FAF3DD;
    padding: 0.5em;
}
.toggle_display {
    text-align: center;
}
.toggle_display_button {
    color: #283044;
}
.toggle_display_button {
  width: 100px;
  padding: 5px 5px 5px 5px;
  background-color: #ff9900;
  color: #ffffff;
  font-size: .16rem;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 1px 5px 1px #cccccc;
}
.toggle_display_button:hover {
  background-color: #ffa300;
}
.toggle_display_button:active {
  background-color: #cc9900;
  box-shadow: none;
}
