.loading {
    font-size: .12rem;
    text-align: center;
    margin: 3em 0 3em 0;
    color: #283044;
}
.list_item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
}
.play {
    margin: 0 5px auto 0;
}
.ep_summary {
    position: relative;
    flex: 1;
    background-color: #FAF3DD;
    color: #283044;
    border-radius: 0.25em;
    padding: 27px 27px 27px 27px;
    cursor: pointer;
    border-radius: 10px;
    border: 0.5px solid #eeeeee;
    box-shadow: 2px 2px 1px 1px #eeeeee;
}
.ep_summary:hover {
    color: #bbbbbb;
}
.ep_pub_date {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0.5em;
    width: 90px;
    text-align: center;
    background-color: #283044;
    color: #FFFFFF;
    font-size: .09rem;
    border-radius: 10px 0 0 0;
}
.ep_summary_title {
    font-size: .24rem;
    padding: 5px 5px 5px 5px;
    border-bottom: medium solid #bbbbbb;
}
.ep_summary_content {
    font-size: .12rem;
    line-height: .20rem;
    margin: 10px 0 0 0;
}
.toggle_display {
    text-align: center;
}
.toggle_display_button {
  width: 100px;
  padding: 5px 5px 5px 5px;
  background-color: #e58a31;
  color: #ffffff;
  font-size: .16rem;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 1px 5px 1px #cccccc;
}
.toggle_display_button:hover {
  background-color: #e6974c;
}
.toggle_display_button:active {
  background-color: #c4742a;
  box-shadow: none;
}
