.list {
    margin: 10px 10px 10px 30px;
}
.list_item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.play {
    margin: 0 5px auto 0;
}
.sc_link {
    font-size: 5em;
    color: #283044;
}
.sc_link:hover {
    color: #F15025;
}
.ep_summary {
    flex: 1;
    margin: 10px 0 10px 0;
    background-color: #FAF3DD;
    color: #283044;
    border-radius: 0.25em;
    padding: 0.25em;
}
.ep_summary:hover {
    background-color: #CAC1A3;
}
.ep_summary_content {
    padding: 0.5em 1.4em 0.5em 1.4em;
    font-size: 0.8em;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;
    word-wrap: break-word;*/
}
.ep_pub_date {
    font-size: 0.5em;
    background-color: #283044;
    color: #FAF3DD;
    padding: 0.5em;
}
.ep_title {
    font-size: 1.4em;
    padding: 0.3em 1em 0.3em 1em;
    margin: 0.3em 1em 0.3em 1em;
}
