<ul class="list">
  <li *ngIf="this.loading">
    <p class="loading">
      LOADING... Please Wait.
    </p>
  </li>
  <li class="list_item" *ngFor="let episode of episodes; let i = index;">
    <a href="{{'/ep/' + episode['id']}}">
      <div (click)="gotoDetail(episode)" class="ep_summary">
        <span class="ep_pub_date">
          {{ episode.pubDate.toDateString() }}
        </span>
        <p class="ep_summary_title">
          {{ episode.title }}
        </p>
        <div class="ep_summary_content">
          {{ episode.summary.substr(0,150)+'...' }}
        </div>
      </div>
    </a>
  </li>
  <li *ngIf="!this.loading" class="pagination">
    <div class="pagination-container">
      <div
        class="page neighbor"
        *ngIf="(currentPageNum !== 0)"
        (click)="getEpisodes(currentPageNum - 1)"
      >
        <span>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span>
      </div>
      <div
        class="page"
        [class.selected]="i === currentPageNum"
        *ngFor="let page of pages;let i = index;"
        (click)="(i === currentPageNum) ? null : getEpisodes(i)"
      >
        <span>
          {{ i + 1 }}
        </span>
      </div>
      <div
        class="page neighbor"
        *ngIf="(currentPageNum !== pages.length - 1)"
        (click)="getEpisodes(currentPageNum + 1)"
      >
        <span>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </li>
</ul>