<article class="ep_detail">
  <div class="ep_detail_container">
    <p *ngIf="this.loading" class="loading">
      LOADING... Please Wait.
    </p>
    <span *ngIf="this.loading" class="ep_pub_date">
      Xxx Xxx 99 20XX
    </span>
    <span *ngIf="!this.loading" class="ep_pub_date">
      {{ episode.pubDate.toDateString() }}
    </span>
    <h1 *ngIf="this.loading" class="ep_detail_title">
      xx.XX
    </h1>
    <h1 *ngIf="!this.loading" class="ep_detail_title">
      {{ episode.title }}
    </h1>
    <div id="ep_soundcloud_embeded"></div>
    <div id="ep_detail_content"></div>
  </div>
</article>
