article>h1>a {
    font-size: 2em;
    color: #8B9190;
    text-decoration: none;
    border-bottom: medium solid #8B9190;
    padding: 0.2em;
}

#episode_detail>p {
    font-size: 1em;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    color: #283044;
}

#episode_detail>h2 {
    width: fit-content;
    font-size: 1.3em;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    color: #FFFFFF;
    background-color: #283044;
}

article {
    margin: 5% 5% 5% 5%;
    padding: 5% 5% 5% 5%;
    background-color: #FAF3DD;
    color: #283044;
}

