.ep_detail {
    background-color: #FAF3DD;
    color: #283044;
}
.ep_detail_container {
    position: relative;
    padding: 27px 27px 27px 27px;
}
.loading {
    font-size: .12rem;
    text-align: center;
    margin: 3em 0 3em 0;
    color: #283044;
    height: 900px;
}
.ep_pub_date {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0.5em;
    width: 90px;
    text-align: center;
    background-color: #283044;
    color: #FFFFFF;
    font-size: .09rem;
}

.ep_detail_title {
    font-size: .24rem;
    color: #333333;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    border-bottom: medium solid #bbbbbb;
}

#ep_soundcloud_embeded {
    height: 150px;
    margin: 10px 0 0 0;
}

#ep_detail_content > p {
    width: fit-content;
    font-size: .18rem;
    margin: 20px 0 10px 5px;
    color: #FFFFFF;
    background-color: #283044;
    line-height: .32rem;
}

#ep_detail_content > p > span {
    display: block;
    font-size: .16rem;
    padding: 0;
    color: #283044;
    background-color: #FAF3DD;
    line-height: .24rem;
}

#ep_detail_content ul {
     margin: 10px 0 20px 20px;
}

#ep_detail_content li {
    list-style-type: circle;
    font-size: .16rem;
    margin: 16px 0 16px 20px;
}

#ep_detail_content a {
    text-decoration: none;
    color: #283044;
    border-bottom: 0.5px solid #283044;
    line-height: 1.6;
}

#ep_detail_content a:hover {
    color: #bbbbbb;
    border-bottom: 0.5px solid #bbbbbb;
}



