.ep_detail_container {
    margin: 30px 0 0 0;
    padding: 30px 30px 30px 30px;
    background-color: #FAF3DD;
    color: #283044;
}

.ep_detail_title {
    border-bottom: medium solid #bbbbbb;
}
.ep_detail_link {
    font-size: .24rem;
    color: #333333;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}
.ep_detail_link:hover {
    color: #ff9900;
}
#ep_detail_content > p {
    width: fit-content;
    font-size: .18rem;
    margin: 20px 0 10px 5px;
    color: #FFFFFF;
    background-color: #283044;
}

#ep_detail_content > p > span {
    display: block;
    font-size: .16rem;
    padding: 0;
    color: #283044;
    background-color: #FAF3DD;
}

#ep_detail_content ul {
    margin: 10px 0 20px 20px;
}

#ep_detail_content li {
    list-style-type: circle;
    font-size: .16rem;
    margin: 10px 0 10px 20px;
}

#ep_detail_content a {
    text-decoration: none;
    color: #283044;
    border-bottom: 0.5px solid #283044;
}

#ep_detail_content a:hover {
    color: #bbbbbb;
    border-bottom: 0.5px solid #bbbbbb;
}



