.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #faf9f5;
}
.main {
  flex-grow: 999;
  flex-shrink:1;
  flex-basis:500px;
  margin: 0 3% 0 3%;
}
.sidebar {
  flex-grow: 1;
  flex-shrink:1;
  flex-basis:300px;
  margin: 20px 3% 0 3%;
}