.container {
  background-color: #faf9f5;
  padding: 30px 30px 30px 30px;
}

.main {
  margin: 0 auto 30px auto;
  max-width: 600px;
}

.sidebar_wrapper {
  margin: 0 auto 0 auto;
  width: 300px;
}

.sidebar_item {
  margin: 30px 0 0 0;
}

@media screen and (min-width: 990px) {
  .wrapper {
    width: 990px;
    margin: 0 auto 0 auto;
    display: flex;
  }
  .main {
    margin: 0 60px 0 0;
    width: 600px;
  }
  .sidebar_wrapper {
    margin: 0 0 0 0;
    display: flex;
  }
  .sidebar_wrapper.relative_bottom {
    align-items: flex-end;
  }
  .sidebar_content {
    width: 300px;
  }
  .sidebar_content.fix_top {
    position: fixed;
    top: 25px;
    width: 300px;
  }
  .sidebar_item:first-child {
    margin: 0 0 30px 0;
  }
}