.form {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #eeeeee;
  box-shadow: 2px 2px 1px 1px #eeeeee;
  font-size: 12px;
  background-color: #fdfdfd;
}
.at_mark {
  width: 20px;
}
.label {
  margin: 0 0 5px 0;
}
.tw_account_input {
  width: 200px;
}
.feedback {
  margin: 5px 5px 5px 5px;
}
.feedback_text {
  width: 100%;
}