<div class="form">
  <h1 class="title">
    <i class="fa fa-comment" aria-hidden="true"></i>
    フィードバックを送る
  </h1>
  <label class="tw_account">
    <p class="label">
      Twitterアカウント名:
    </p>
    <p>
      <span class="at_mark">@</span>
      <input class="tw_account_input" type="text" size="30" placeholder="よければ入力してください！" [(ngModel)]="feedback.tw_account">
    </p>
  </label>
  <label class="label feedback">
    <p class="label">
      質問・感想など:
    </p>
    <p>
      <textarea class="feedback_text" name="feedback" cols="30" rows="5" placeholder="気軽に投稿してください！" [(ngModel)]="feedback.content"></textarea>
    </p>
  </label>
  <div class="button_container" *ngIf="!isFormSended">
    <button class="submit" (click)="submitFeedback()">送信</button>
  </div>
  <div *ngIf="isFormSended">
    <p>フィードバックありがとうございました！</p>
  </div>
</div>