<header>
  <app-header></app-header>
</header>
<div class="container">
  <div class="main">
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="sidebar">
    <div id="form" class="form">
      <app-form></app-form>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
