.guest_list {
    display: flex;
    margin: 1em;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
}

.guest_link {
    display: block;
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 1em;
    background-color: #FAF3DD;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: opacity 0.5s;
    border: 0.5px solid #eeeeee;
    box-shadow: 2px 2px 1px 1px #eeeeee;
}

.twitter_icon {
    border-radius: 50%;
    width:  5em;
    height: 5em;
}

.guest_image {
    flex: 2;
}

.guest_link:hover .guest_image{
    opacity: 0.7;
}

.guest_name {
    flex: 1;
    margin: auto;
}

.guest_name>span {
    color: #283044;
}

.guest_link:hover .guest_name>span{
    color: #bbbbbb;
}

@media screen and (min-width: 880px) {
    .twitter_icon {
        width:  7em;
        height: 7em;
    }
    .guest_link {
        padding: 1em;
        margin: 0.7em;
    }
    .guest_list {
        margin: 3em;
    }
}