<div class="guest_list">
  <div class="guest">
    <div class="guest_image">
      <img class="twitter_icon" src="../../assets/image/default.png"/>
    </div>
    <div class="guest_name">
      <span>murasaki</span>
    </div>
  </div>
  <div class="guest">
    <div class="guest_image">
      <img class="twitter_icon" src="../../assets/image/mittuntun.png"/>
    </div>
    <div class="guest_name">
      <a href="https://twitter.com/mittuntun?lang=ja">mittuntun</a>
    </div>
  </div>
  <div class="guest">
    <div class="guest_image">
      <img class="twitter_icon" src="../../assets/image/HKDnet.jpg"/>
    </div>
    <div class="guest_name">
      <a href="https://twitter.com/HKDnet?lang=ja">HKDnet</a>
    </div>
  </div>
</div>