.container {
  padding: 10px 10px 10px 10px;
  border: 0.5px solid #eeeeee;
  box-shadow: 2px 2px 1px 1px #eeeeee;
  background-color: #fdfdfd;
  max-width: 500px;
  border-radius: 10px;
}
.twitter-timeline {
  color: #ffffff;
  text-decoration: none;
}