@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);
html {
  font-size: 625%;
}
body {
  margin: 0;
  font-size: .14em;
  font-family: 'Mplus 1p', sans-serif;
  font-weight: 400;
}
a,button {
  cursor: pointer;
}